@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* -------------------------------------------- */
/* リセット */
/* -------------------------------------------- */
body, h1, h2, h3, h4, h5, p, ul, li, ol, dl, dt, figure, input, textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* -------------------------------------------- */
/* 共通設定 */
/* -------------------------------------------- */
body {
  font-family: sans-serif;
  position: relative;
  font-size: calc(0.875rem + ((1vw - 3.75px) * 0.2424));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* bodyにactiveクラスが着いた時 */
body.active {
  overflow-y: hidden;
}

@media (min-width: 600px) {
  body {
    font-size: 1rem;
  }
}

/* twitterアイコン */
.fa-twitter {
  color: #00acee;
  margin-right: 4px;
}

/* 外部リンクのアイコン */
.fa-external-link-alt {
  margin-left: 4px;
}

/* -------------------------------------------- */
/* インナー */
/* -------------------------------------------- */
.inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 3%;
}

@media (min-width: 600px) {
  .inner {
    width: 100%;
    padding: 0 60px;
  }
}

/* -------------------------------------------- */
/* セクション関連 */
/* -------------------------------------------- */
section {
  padding: 40px 0;
  width: 100%;
}

section .section_heading {
  font-size: calc(1.5rem + ((1vw - 3.75px) * 0.9697));
  letter-spacing: 0.1em;
  line-height: 1.25;
  display: inline-block;
  text-align: center;
  margin-bottom: 32px;
}

section .section_heading .sub_title {
  font-size: calc(0.75rem + ((1vw - 3.75px) * 0.2424));
  display: block;
}

@media (min-width: 600px) {
  section {
    padding: 40px 0;
  }
  section .section_heading {
    margin-bottom: 48px;
  }
}

@media (min-width: 1025px) {
  section {
    padding: 80px 0;
  }
  section .section_heading {
    font-size: 2.25rem;
    margin-bottom: 64px;
  }
  section .section_heading .sub_title {
    font-size: 0.875rem;
  }
}

/* -------------------------------------------- */
/* ナビメニュー関連 */
/* -------------------------------------------- */
/* スクリーン */
#screen {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
}

/* スクリーンにactiveクラスが着いた時 */
#screen.active {
  display: block;
}

/* ナビメニュー全体 */
.nav_wrapper {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: fixed;
  top: 0;
  height: 100%;
  right: 120%;
  z-index: 1;
  -webkit-transition: all .4s;
  transition: all .4s;
  overflow-y: scroll;
  /* モーダル全体 */
  /* ナビメニューにactiveクラスが着いた時 */
}

.nav_wrapper .nav_menu_wrapper {
  width: 100%;
  border: 1px solid #fc2;
  text-align: center;
  /* ナビメニューの見出し */
  /* ナビメニュー */
  /* twitterのリンク */
  /* 閉じるアイコン */
}

.nav_wrapper .nav_menu_wrapper .nav_menu_title {
  padding: 24px 0;
  border: 1px solid #fff;
  border-top: 1px solid transparent;
  font-size: 1.25rem;
  position: relative;
}

.nav_wrapper .nav_menu_wrapper .nav_menu_title .close_icon {
  width: 120px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.nav_wrapper .nav_menu_wrapper .nav_menu {
  margin-bottom: 32px;
}

.nav_wrapper .nav_menu_wrapper .nav_menu li a {
  border: 1px solid #fff;
  border-top: 1px solid transparent;
  display: block;
  padding: 24px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.nav_wrapper .nav_menu_wrapper .nav_menu li a:hover {
  background-color: #fff;
  color: #000;
}

.nav_wrapper .nav_menu_wrapper .twitter_link {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.nav_wrapper .nav_menu_wrapper .twitter_link:hover {
  opacity: .6;
}

.nav_wrapper.active {
  right: 0;
}

@media (min-width: 600px) {
  /* ナビメニュー */
  .nav_wrapper {
    width: 100%;
    /* モーダル全体 */
    /* ナビメニューにactiveクラスが着いた時 */
  }
  .nav_wrapper .nav_menu_wrapper {
    width: 95%;
    margin: 0 auto;
    /* ナビメニューの見出し */
    /* ナビメニュー */
  }
  .nav_wrapper .nav_menu_wrapper .nav_menu_title {
    padding: 24px 0;
    font-size: 1.25rem;
  }
  .nav_wrapper .nav_menu_wrapper .nav_menu {
    margin-bottom: 32px;
  }
  .nav_wrapper .nav_menu_wrapper .nav_menu li a {
    display: block;
    padding: 24px;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .nav_wrapper.active {
    right: 0;
  }
}

/* -------------------------------------------- */
/* ヘッダー */
/* -------------------------------------------- */
header {
  background-color: rgba(179, 211, 219, 0.8);
  border-bottom: 5px solid #C09669;
  padding: 8px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

header .header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* ヘッダーロゴ */
  /* ヘッダーメニューアイコン */
}

header .header_wrapper .header_logo_wrapper img {
  width: 150px;
}

header .header_wrapper .header_menu_logo {
  width: 120px;
  cursor: pointer;
}

@media (min-width: 600px) {
  header {
    padding: 16px 0;
  }
  header .header_wrapper {
    /* ヘッダーロゴ */
    /* ヘッダーメニューアイコン */
  }
  header .header_wrapper .header_logo_wrapper img {
    width: 220px;
  }
  header .header_wrapper .header_menu_logo {
    width: 180px;
  }
}

@media (min-width: 1025px) {
  header .header_wrapper {
    /* ヘッダーロゴ */
    /* ヘッダーメニューアイコン */
  }
  header .header_wrapper .header_logo_wrapper img {
    width: 250px;
  }
  header .header_wrapper .header_menu_logo {
    width: 190px;
  }
}

/* -------------------------------------------- */
/* メインビジュアル */
/* -------------------------------------------- */
.mv {
  height: 400px;
  width: 100%;
  position: relative;
}

.mv .main_img {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-animation: anime 24s infinite ease-in;
          animation: anime 24s infinite ease-in;
  opacity: 0;
}

.main_img:first-child {
  background-position: 67%;
}

.main_img:nth-of-type(2) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  background-position: 90% 10%;
}

.main_img:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
  background-position: 64% 80%;
}

.main_img:nth-of-type(4) {
  -webkit-animation-delay: 18s;
  animation-delay: 18s;
  background-position: 36%;
}

/*animation keyframe*/
@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes anime {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 1025px) {
  .mv {
    height: 700px;
  }
}

/* -------------------------------------------- */
/* フッター */
/* -------------------------------------------- */
footer {
  background: #b3d3db;
  border-top: 5px solid #C09669;
  text-align: center;
  padding: 16px 0;
  margin-top: auto;
  /* フッターロゴ */
}

footer .footer_logo_wrapper img {
  width: 120px;
}

footer .copy_right {
  font-size: 0.75rem;
}

/* Topへ戻るボタン */
.to_top {
  display: none;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  right: 10px;
  bottom: 30px;
  opacity: .7;
  /* FontAwesome */
}

.to_top i {
  font-size: 1.5rem;
  color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 600px) {
  footer {
    padding: 16px 0;
    /* フッターロゴ */
  }
  footer .footer_logo_wrapper img {
    width: 150px;
  }
}

@media (min-width: 1025px) {
  footer {
    padding: 24px 0;
    /* フッターロゴ */
  }
  footer .footer_logo_wrapper {
    margin-bottom: 8px;
  }
  footer .footer_logo_wrapper img {
    width: 180px;
  }
  footer .copy_right {
    font-size: 0.875rem;
  }
  /* Topへ戻るボタン */
  .to_top {
    width: 50px;
    height: 50px;
    /* FontAwesome */
  }
  .to_top i {
    font-size: 2rem;
  }
}

/* -------------------------------------------- */
/* works */
/* -------------------------------------------- */
.works .works_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* worksのサムネ */
}

.works .works_items .work_thumbnail {
  width: calc(100% / 2 - 8px);
  margin: 0 4px;
  margin-bottom: 16px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.works .works_items .work_thumbnail a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.works .works_items .work_thumbnail:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
}

.works .works_items .work_thumbnail:last-child, .works .works_items .work_thumbnail:nth-last-child(2) {
  margin-bottom: 0;
}

@media (min-width: 1025px) {
  .works .works_items .work_thumbnail {
    width: calc(100% / 4 - 8px);
    margin-bottom: 16px;
  }
  .works .works_items .work_thumbnail:nth-last-child(3), .works .works_items .work_thumbnail:nth-last-child(4) {
    margin-bottom: 0;
  }
}

/* -------------------------------------------- */
/* about */
/* -------------------------------------------- */
.about .about_wrapper {
  /* プロフィール */
  /* twitterの埋め込み */
}

.about .about_wrapper .about_prof_wrapper {
  /* プロフィール画像 */
  /* 自己紹介の欄 */
}

.about .about_wrapper .about_prof_wrapper .about_img_wrapper {
  border: 3px solid #C09669;
  border-radius: 50px;
  margin-bottom: 24px;
}

.about .about_wrapper .about_prof_wrapper .about_img_wrapper img {
  border-radius: 50px;
}

.about .about_wrapper .about_prof_wrapper .about_text_wrapper {
  margin-bottom: 24px;
  /* 名前 */
  /* snsの欄 */
}

.about .about_wrapper .about_prof_wrapper .about_text_wrapper li {
  margin-bottom: 16px;
}

.about .about_wrapper .about_prof_wrapper .about_text_wrapper .name {
  font-size: calc(1rem + ((1vw - 3.75px) * 0.9697));
}

.about .about_wrapper .about_prof_wrapper .about_text_wrapper .sns_link_wrapper p:first-child {
  margin-bottom: 4px;
}

.about .about_wrapper .about_prof_wrapper .about_text_wrapper .sns_link_wrapper a {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.about .about_wrapper .about_prof_wrapper .about_text_wrapper .sns_link_wrapper a:hover {
  opacity: 0.6;
}

.about .about_wrapper .about_prof_wrapper .about_text_wrapper .sns_link_wrapper .blog {
  display: inline-block;
}

.about .about_wrapper .about_prof_wrapper .about_text_wrapper .sns_link_wrapper .blog .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.about .about_wrapper .about_prof_wrapper .about_text_wrapper .sns_link_wrapper .blog .container img {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 4px;
}

.about .about_wrapper .about_prof_wrapper .about_text_wrapper .sns_link_wrapper .blog span {
  display: block;
}

.about .about_wrapper .twitter_wrapper {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

@media (min-width: 600px) {
  .about {
    /* twitterの埋め込み */
  }
  .about .about_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* プロフィール */
  }
  .about .about_wrapper .about_prof_wrapper {
    width: 49%;
    /* プロフィール画像 */
    /* 自己紹介の欄 */
  }
  .about .about_wrapper .about_prof_wrapper .about_img_wrapper {
    margin-bottom: 32px;
  }
  .about .about_wrapper .about_prof_wrapper .about_text_wrapper {
    /* snsの欄 */
  }
  .about .about_wrapper .about_prof_wrapper .about_text_wrapper .sns_link_wrapper .blog .container img {
    width: 16px;
    height: 16px;
  }
  .about .twitter_wrapper {
    width: 50%;
  }
}

@media (min-width: 1025px) {
  .about .about_wrapper {
    /* プロフィール */
  }
  .about .about_wrapper .about_prof_wrapper {
    /* 自己紹介の欄 */
  }
  .about .about_wrapper .about_prof_wrapper .about_text_wrapper {
    /* 名前 */
    /* snsの欄 */
  }
  .about .about_wrapper .about_prof_wrapper .about_text_wrapper .name {
    font-size: 1.5rem;
  }
  .about .about_wrapper .about_prof_wrapper .about_text_wrapper .sns_link_wrapper .blog img {
    width: 16px;
    height: 16px;
  }
}

/* -------------------------------------------- */
/* singleページ */
/* -------------------------------------------- */
.single {
  margin-top: 80px;
  /* 文章の大枠 */
  /* ページネーション */
}

.single .single_wrapper {
  /* 画像の大枠 */
}

.single .single_wrapper .single_thumbnail_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* 画像 */
}

.single .single_wrapper .single_thumbnail_wrapper .single_thumbnail {
  width: calc(100% / 2 - 8px);
  margin: 0 4px;
}

.single .single_wrapper .single_thumbnail_wrapper .single_thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.single .content_wrapper {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  padding: 1em 0;
}

.single .content_wrapper .works_name, .single .content_wrapper .chara_name {
  font-weight: bold;
  margin-bottom: 6px;
}

.single .pc_only {
  display: none;
}

.single .pagination {
  margin-top: 32px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  /* 前に戻る */
  /* 前に戻る */
}

.single .pagination .prev, .single .pagination .next {
  position: absolute;
  top: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.single .pagination .prev:hover, .single .pagination .next:hover {
  opacity: .6;
}

.single .pagination .prev .pagonation_image, .single .pagination .next .pagonation_image {
  width: 100px;
  height: 100px;
}

.single .pagination .prev .pagonation_image img, .single .pagination .next .pagonation_image img {
  width: 100%;
  height: 100%;
}

.single .pagination .prev {
  left: 0;
}

.single .pagination .next {
  right: 0;
}

@media (min-width: 600px) {
  .single {
    /* ページネーション */
  }
  .single .pagination {
    margin-top: 64px;
    margin-bottom: 80px;
  }
}

@media (min-width: 1025px) {
  .single .single_wrapper .thumbnail_left {
    position: relative;
  }
  .single .sp_only {
    display: none;
  }
  .single .pc_only {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
  }
  .single .pc_only .explain {
    height: 70px;
    overflow-y: scroll;
    /* スクロールの幅の設定 */
    /* スクロールの背景の設定 */
    /* スクロールのつまみ部分の設定 */
  }
  .single .pc_only .explain::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  .single .pc_only .explain::-webkit-scrollbar-track {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 4px #aaa inset;
            box-shadow: 0 0 4px #aaa inset;
  }
  .single .pc_only .explain::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #555;
  }
}

/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
/*# sourceMappingURL=styles.css.map */